<form action="/reviews" method="post">
  <label for="game_title">Game Title</label></br>
  <input id="game_title" type="text" name="game_title"></br></br></br>

  <label for="content">Review</label></br>
  <textarea id="content" type="text" name="content"> Write your review here. Drag bottom-right to expand.
  </textarea></br></br>

  <input type="submit" value="submit">
</form>
