<!doctype html>
<html>
  <head>
    <title>VGReviews</title>
  </head>
  <body>
    <div class="container">
      <h1>VGReviews, where you can share your opinion.</h1>

      <%= yield %>


    </div>

  </body>
</html>
